In [4]:
_test_var = 'Vanilla Swirl'
print(_test_var)

Vanilla Swirl

In [5]:
x=2
y=3
print(x+y)

5

In [6]:
x="n"
y="m"
print(x+y)

nm

In [8]:
x="nehal"
y=2
print(x,y)

nehal 2

In [11]:
#Data Types
type(-3+6)
type(12+20.8)
type(12+5j)

complex

In [13]:
#Boolean-----true or fales
type(1>7)

bool

In [22]:
#strings
a ="hello world"
print(a[:5])

hello

In [23]:
a*3

'hello worldhello worldhello world'

In [24]:
a+a

'hello worldhello world'

In [25]:
#list
[1,2,3]
["nehal","mohammed"]

['nehal', 'mohammed']

In [28]:
['nehal',9,['hhhh','jjjjjj'],True]

['nehal', 9, ['hhhh', 'jjjjjj'], True]

In [30]:
ice_cream =['hhhh','hhhhhhh']
print(ice_cream )

['hhhh', 'hhhhhhh']

In [31]:
x=['nehal','mohammed']
x.append('hhhh')
x

['nehal', 'mohammed', 'hhhh']

In [33]:
x=['nehal','mohammed']
x.append('hhhh')
x[0]='mmm'
x

['mmm', 'mohammed', 'hhhh']

In [ ]:
#operators
#==
#!=
#>
#<
#>=
#<=

In [35]:
10 ==10

True

In [36]:
10!=8

True

In [37]:
10>6

True

In [38]:
(70>50)and(50>10)

True

In [39]:
(70>50)or(50>10)

True

In [40]:
not((70>50))

False

In [42]:
x=[1,2,4]
5 not in x

True

In [43]:
#if -else
if 25>10:
    print('nehal')

nehal

In [45]:
if 25<10:
    print('nehal')
else:
    print('mohammed')

mohammed

In [ ]:
if 25< 10:
    print('nehal')
    elif 25< 30:
    print('nehal')
else:
    print('mohammed')

In [46]:
if (25 < 10) :
    print('It worked!')
elif 25 < 20:
    print('elif worked!')
elif 25 < 21:
    print('elif 2 worked!')
elif 25 < 40:
    print('elif 3 worked!')
elif 25 < 50:
    print('elif 4 worked!')
else:
    print('It did not work...')

elif 3 worked!

In [47]:
print('It worked!') if 10>30 else print('It did not work...')

It did not work...

In [48]:
if (25 < 10) :
    print('It worked!')
    if 10 > 5:
        print('This nested if statement worked!')
elif 25 < 20:
    print('elif worked!')
elif 25 < 21:
    print('elif 2 worked!')
elif 25 < 40:
    print('elif 3 worked!')
elif 25 < 50:
    print('elif 4 worked!')
else:
    print('It did not work...')

elif 3 worked!

In [1]:
#For loops
integers = [1,2,3,4,5]
for number in integers :
    print(number)

1
2
3
4
5

In [2]:
for number in integers :
    print('yep!')

yep!
yep!
yep!
yep!
yep!

In [11]:
x={"name":"nehal","food":"fish"}
for key in x:
    print (key)

name
food

In [17]:
#Nested for loops
x=['nehal','nwal' ]
y=['mohamed','ahmed']
for one in x:
    for tow in y:
        print (one +tow  )

nehalmohamed
nehalahmed
nwalmohamed
nwalahmed

In [18]:
#while loops----test condition
# x=x+1----counter

x=0
while x<5:
    print(x)
    x=x+1

0
1
2
3
4

In [21]:
x=0
while x<5:
    print(x)
    x=x+1

0
1
2
3
4

In [24]:
#break

In [27]:
x = 0
while x < 5:
    print(x)
    if x == 3:
        break
    x = x + 1
else:
    print('No longer < 5')

0
1
2
3

In [28]:
x = 0
while x < 5:
    print (x)
    if x==3:
       break
    x = x + 1
else:
    print('No longer < 5')

0
1
2
3

In [ ]:
#Function block of code"

In [8]:
def fridt_fun():
    print ( "hi nehal")

In [9]:
fridt_fun()

hi nehal

In [10]:
def number_squared(number):
    print(number**2)

In [13]:
number_squared(6)

36

In [14]:
def number_squared(number,power):
    print(number**power)

In [16]:
number_squared(4,8)

65536

In [ ]:
def number_args(*nmber):
    print()

In [ ]:
#converting data types

In [17]:
x=8
type(x)

int

In [19]:
y="7"
type(y)

str

In [27]:
x=8
y='7'
y_conv = int(y)
z=x+y_conv
print (z)
type(y_conv)

15

int

In [28]:
x=[1,2,3]
type(x)

list

In [29]:
tuple(x)

(1, 2, 3)

In [ ]:
#set ----العنصر مش متكرار بس مش مترتب 
#list ------مافيش تكرار + مرتبين
x=[1,2,3,4,1,2,3,4]

set(x)

{1, 2, 3, 4}

In [33]:
dict_type = {'name':'nehal','age':26}
type(dict_type)

dict

In [35]:
dict_type.keys()

dict_keys(['name', 'age'])

In [36]:
dict_type.values()

dict_values(['nehal', 26])

In [40]:
dict_type.items()
type(dict_type.items())
list(dict_type.items())
type(list(dict_type.items()))

list

In [45]:
x='nehal mohammed'
set(x)

{' ', 'a', 'd', 'e', 'h', 'l', 'm', 'n', 'o'}

In [46]:
x='nehal mohammed'
list(x)

['n', 'e', 'h', 'a', 'l', ' ', 'm', 'o', 'h', 'a', 'm', 'm', 'e', 'd']

In [47]:
x='nehal mohammed'
tuple(x)

('n', 'e', 'h', 'a', 'l', ' ', 'm', 'o', 'h', 'a', 'm', 'm', 'e', 'd')

In [ ]:
# set---تغير+مش مهم الترتيب+غير مكرار
# list---نغير+ مرتب+تكرار اه
# tuple----لا نغير+مرتب +تكرار اه